

.jointable{
  width: 87%;
}

.jointable, .logintable{
  margin: auto;
  color: rgb(71, 71, 71);
}

.jointable{
  font-size: 0.9em;
}

input{
  width: 86%;
}

.input-size{
  width: 50%;
}

.addr-boxsize  input{
  margin-bottom: 0.8vw;
}

.addr-boxsize > td:nth-child(2) >input{
  width: 50%;
}

.inputmail-size{
  width: 44%;
}

.select-size{
  width: 42%;
  padding: 8px;
  margin-left: 3px;
  
}

.btn-div{
  margin-top: 20px;
  text-align: center;
}

.jointable button {
  margin-left: 10px;
  font-size: 0.8em;
  width: 30%;
  padding: 7px;
  border: 1px solid rgb(204, 203, 203);
  color: rgb(88, 82, 82);
}

.jointable button:hover , .btn-div button:hover{
  background-color: rgb(190, 190, 190);
}

.btn-div button{
  padding: 10px;
  border: 1px solid lightgray;
  font-size: 18px;
  width: 40%;
  margin-top: 5%;
}

@media (max-width: 768px){
  .jointable button{
    font-size: 0.8em;
  }

  .jointable{
    width: 100%;
    font-size: 0.8em;
  }
  .btn-div > button{
    font-size: 0.9em;
    width: 60%;

  }
}

@media (max-width: 500px){
  .jointable button{
    font-size: 0.7em;
    width: 30%;
  }

  .input-size{
    width: 50%;
  }

  .jointable{
    width: 100%;
    font-size: 0.7em;
  }

  .btn-div > button{
    font-size: 0.8em;
    width: 60%;
  }
}